.header-content {
    display: grid;
    grid-template-columns: 0.5fr 2.4fr 0.85fr;
    background-color: white;
    top: 0;
    width: 100%;
    margin-right: 20px;
    position: fixed;
    z-index: 21;
    border-bottom: 1px solid rgb(158, 158, 158);
    box-shadow: 1px 1px 5px rgb(174, 174, 174);
}

.sign-up {
    text-decoration: none;
    color: black;
}

.head-image {
    max-width: 150px;
    margin-left: 20px;
    cursor: pointer;
    margin-right: 10px;
}


.search-input {
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid rgb(215, 215, 215);
    padding-left: 5px;
    margin-right: 5px;
}


.phone-menu {
    opacity: 0;
    position: absolute;
}

.about-us {
    white-space: nowrap;
    cursor: pointer;
}

.categories {
    cursor: pointer;
}


.sign-up-container {
    white-space: nowrap;
    margin-right: 0px;
}

.menu {
    opacity: 1;
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    font-size: 13px;
    font-weight: 600;
    transition: opacity 1s ease 0.3;
    padding-left: 0;
    padding-right: 40px;
}

.close.show {
  opacity: 1;
  transform: translateX(0);
}

.dark-background.show {
  opacity: 1;
  transform: translateX(0);
}

.menu.open {
  transform: translateX(0);
}

.phone-menu:hover {
    cursor: pointer;
}

.phone-menu:hover {
    cursor: pointer;
}


.dark-background {
    opacity: 0;
    position: absolute;
}

@media (max-width: 900px) {

   .search-input {
    min-width: 40px;
}
}



@media (max-width: 600px) {

.phone-menu {
    opacity: 1;
    right: 30px;
    bottom: 4px;
    font-weight: bold;
    cursor: pointer;
    width: 0;
    display: flex;
    justify-content: center;
    z-index: 0;
    
  }

    .header-content {
    grid-template-columns: 0.5fr 2.4fr 0.5fr;
  }

   .close {
    opacity: 1;
    z-index: 77;
    position: absolute;
    right: 15px;
    font-weight: bold;
    transform: translateX(130px);
    transition: transform 0.5s ease 0.3s;
    cursor: pointer;
   }

      .dark-background {
     position: fixed;
     width: 100vh;
     height: 100vh;
     background-color: rgba(0, 0, 0, 0.5);
     opacity: 1;
     transform: translateX(100%);
     transition: transform 0.5s ease 0.3s;
   }

      .menu {
    opacity: 1;
    position: absolute;
    display: flex;
    flex-direction: column !important;
    row-gap: 20px;
    padding-right: 30px;
    padding-top: 50px;
    align-content: center;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    top: -15px;
    right: 0;
    transform: translateX(160px);
    transition: transform 0.5s ease 0.3s;
    width: 90px;

}


   .about-us, .categories, .sign-up-container {
    opacity: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #b6ff9f;
    margin-left: 15px;
    cursor: pointer;
    padding: 5px 0 5px 0;
    transition: transform 0.5s ease 0.3s;
    transition: background-color 0.5s ease 0.3s;
    border-radius: 4px;
    
   }

   
   .about-us:hover, .categories:hover, .log-in:hover {
    background-color: #cdfbbf;
    
   }

}


@media (max-width: 430px) {
    .phone-menu {
        right: 20px
    }
}


@media (min-width: 1027px) {
    .menu {
    opacity: 1;
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    font-size: 13px;
    font-weight: 600;
    transition: opacity 1s ease 0.3;
    padding-left: 10px;
    padding-right: 10px;
}
}


@media (min-width: 1205px) {
    .menu {
    opacity: 1;
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    font-size: 13px;
    font-weight: 600;
    transition: opacity 1s ease 0.3;
    padding-left: 40px;
    padding-right: 0px;
}
}